@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,400&family=Send+Flowers&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    background: #f1faee;
}

.animation-delay1{
    transition: 0.5s;
}
.animation-delay2{
    animation-delay: 1s;
}
.animation-delay3{
    animation-delay: 1.5s;
}
.animation-delay4{
    animation-delay: 2s;
}
.animation-delay5{
    animation-delay: 2.5s;
}
.animation-delay6{
    animation-delay: 3s;
}
.animation-delay7{
    animation-delay: 3.5s;
}
.animation-delay8{
    animation-delay: 4s;
}
.site-nav{
    /* position: absolute; */
    top: 0;
    z-index: 80;
    background-color: #403d39!important;
}
.home{
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 70;
}
.site-nav .site-nav-bar{
    
    position: sticky !important;
    top: 0;
    opacity: 0.9;
    /* background: rgb(14, 13, 13); */
    
    
 }
.brand-name{
    font-size: 2em;
    
}
.home{
    position: relative;
   
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.name{
    z-index: 51;
    height: 100vh;
    
}
.name-text{
    font-size: 4em;
}
.name-sub-text{
    display: grid;
    /* height: 100vh; */
    place-items: center;
}
.typed{
    width:320px;
    animation: typing 5s steps(50), 2s blink step-end infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2em;
    border-right: 2px solid;

}
.about,.service{
    background: #f1faee;
    /* height: 100vh; */
    margin-top: 30px;
}
.about-box{
    padding-top: 50px;
}
.divider{
    width: 20%;
    height: 3px;
    border-radius: 5px;
    background: blue;
}
.me-text{
    font-size: 20px;
    line-height: 2;
}
@keyframes typing {
    from{
        width: 0;
    }
    
}
@keyframes blink {
    50% {
      border-color: transparent
    }
  }
  /* service */
  .service{
      /* height: 100vh; */
     
  }
  .service-title{
      font-size: 3em;
      font-weight: 800;

  }
  .service-card{
      transition: 2s;
  }
  .service-card:hover{
      transform: scale(1.04);
  }

  .circle{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 10px solid #219ebc;
      margin: 0 auto;
      transition: 0.5s;
  }
  .circle:hover{
      background: #219ebc;
      border: 10px solid #8ecae6;
  }
  i{
      color: #023047 !important;
  }
  .circle:hover i{
      color: #ffffff !important;
  }
  .divider2{
      margin: 0 auto;
    width: 5%;
    height: 5px;
    border-radius: 5px;
    background: blue;

  }
  .card-border{
      border-radius: 1.25rem;
      margin-bottom: 50px;
  }
 .service-counter-bg{
     background-image: url(images/counters-bg.jpg);
     background-attachment: fixed;
     background-size: cover;
     height: 400px;
     position: relative;
 }
 .counter-circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #fff;
    margin: 0 auto;
    
    transition: 0.5s;
 }
 .counter-box{
     margin-right: 130px;
     color: #fff;
     z-index: 65;
 }
 .counter-last{
     z-index: 65;
 }
 .service-bg-color{
     background-color: #0078ff;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 400px;
     opacity: 0.7;
 }
 /* services */
 .work{
     /* height: 100vh; */
     /* margin-top: 500px; */
 }
 .card{
    
 }
 .img-box{
    overflow: hidden;
 }
 .card-img{
    transition: 0.5s;

 }
 .card:hover .card-img{
     transform: scale(1.4);
 }
 .work-bg{
     background-image: url(images/overlay-bg.jpg);
     background-size: cover;
     background-attachment: fixed;
     height: 500px;
     position: relative;
 }
 .work-bg-color{
     background-color: #0078ff;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.7;
 }
 .work-bg-box{
     z-index: 60;
     margin-top: 100px;
     /* padding: 50px; */
     
 }
 .work-bg-img{
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin: 0 auto;
 }
 
 .slick-dots{
     margin-bottom: 80px !important;
 }
 .slick-dots li{
     width: 15px;
     height: 15px;
     border-radius: 50%;
     z-index: 90;
    background-color: #e3e3e3;
     
 }
 .slick-dots .slick-active{
     background: #8ecae6;
 }
 /* BLOG */
 .blog{
     /* margin-top: 700px; */
     /* height: 100vh; */
 }
 .divider3{
     width: 100%;
     height: 1px;
     /* border: 1px solid gray; */
     background: rgb(153, 152, 152);
 }
 .blog-card{
     position: relative;
 }
 .blog-card{
     clip-path: circle(100%);
     animation: dreamAni 3s ease-in-out;
 }
 .blog-person{
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }
 .blog-btn{
     position: absolute;
     top: 258px;
    left: 143px;
 }
 /* contact */
 .contact{
     height: 100vh;
     background-image: url(images/overlay-bg.jpg);
     
     background-attachment: fixed;
     background-size: cover;
     position: relative;
 }
 .contact-bg{
     background: #0078ff;
     width: 100%;
     height: 100%;
     opacity: 0.7;
     position: absolute;
     top: 0;
     left: 0;
 }
 .up-bg{
     width: 100%;
     
     background: #fff;
     z-index:70 ;
     margin: 100px 0;
     /* height: 100vh; */
     
     
 }
 .send-btn{
     border-radius: 20px !important;
 }
 .contact-circle{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 3px solid #0078ff;
 }
 .footer-bg{
     height: 130px;
     background-color: #0078ff;
     
     opacity: 0.5;
     position: absolute;
     
     bottom: 0;
     z-index: 90;
 }
 .nav-item{
     padding: 0 10px;
     
 }
 .nav-link::before{
     content:'';
     height: 3px;
     transition: 0.5s;
     position: absolute;
     background: #fff;
 }
 .scrollto::before{
     width: 0%;
     bottom: 15px;
 }
 .scrollto:hover::before{
     width: 50px;
 }
 .nav-link.active{
     color: #0078ff !important;
 }
 .scroll-to-home{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #0078ff;
     position: fixed;
     bottom: 10px;
     right: 10px;
     z-index: 100;
 }
 
 
 
 /* .nav-link.current-section{
     border-bottom: 2px solid #fff;
     
 } */
 
 @keyframes dreamAni{
    0%{
        transform: translate(-20px,-20px);
        clip-path: circle(20% at 30px 30px);
    }
    50%{
        transform: translate(10px,10px);
    }
    100%{
        transform: translate(0,0);
        clip-path: circle(130%);
    }
    
}
.navbar{
    margin:0 !important;
    padding: 0 !important;
}
.navbar-toggler{
    margin: 0 !important;
    padding: 0 !important;
    width: 30px !important;
    border: none !important;
}
.navbar-toggler:focus:hover{
    outline: none;
    border: none;
    box-shadow: none;
}

/* .menu-icon:focus{
    outline: none !important;
} */
/* .navbar-toggler:focus-visible{
    outline: none;
}
.navbar-toggler-icon:active{
    outline: none;
} */
@media screen and (max-width:760px) {
    .container-fluid{
        max-width: 100vh;
        width: 100%;
        overflow: hidden;
    }
    .home{
        background-size: cover;
        background-position: center;
        /* background-repeat: no-repeat; */
        
    }
    .about-row{
        padding: 0 !important;
    }
    .about-img{
        width: 120px;
        height: 120px;
        margin: 0 !important;
    }
    .about-name{
        margin: 0 !important;
        margin-left: 2px !important;
        width: 100%;
    }
    .about-name p{
        margin-bottom: 2px !important;
    }
    .service-warp{
        flex-wrap: wrap !important;
    }
    .counter-box{
        margin: 0 !important;
    }
    .service-counter-bg{
        height: 100vh !important;
    }
    .service-bg-color{
        height: 100vh !important;
    }
    .work,.blog{
        margin-top: 0 !important;
    }
    .divider2{
        width: 26% !important;
    }
    .slick-dots{
        bottom: -69px !important;
    }
    .blog-btn{
        top: 227px;
    }
    .blog-card{
        margin: 10px 0 !important;
    }
    .contact{
        background-position: center !important;
        height: 150vh !important;
    
    }
    .navbar-nav{
        margin: 20px 0;
        background: #fff;
        border-radius: 10px;
    }
    .nav-item{
        margin: 10px;
    }
    .nav-item .nav-link{
        color: #000 !important;
        /* border: 1px solid gray; */
        padding: 15px 10px;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }
    .nav-link.active{
        color: #0078ff !important;
    }
    
}
 